* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

header {
    font-size: 1.6rem;
    width: 100%;
    /*
    height: auto;
    max-height: 90px;
    */
    height: 45px;
    background-color: #f5ecad;
    z-index: 2;
    border-bottom: 1px solid grey;
}

header ul {
    display: flex;
    list-style: none;
    height: 100%;
}

header ul li {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

aside {
    height: 100%;
    width: 250px;
    background-color: #d0ebff;
    position: absolute;
    left: 0px;
    z-index: 1;
    border-right: 1px solid grey;
}

main {
    font-size: 1.6rem;
    position: absolute;
    left: 250px;
    margin: 10px 10px;
}

main img {
    margin: 50px 50px;
    width: 500px;
}