* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    /* color: black; */
}

header {
    font-size: 1.6rem;
    width: 100%;
    /*
    height: auto;
    max-height: 90px;
    */
    height: 50px;
    background-color: #f5ecad;
    z-index: 2;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-end;
}

header ul {
    display: flex;
    list-style: none;
    padding-right: 15px;
}

header ul li {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background: linear-gradient(to top, rgb(173, 173, 255), white);
}

main .main-content {
    width: 800px;
    padding: 20px 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: rgb(211, 207, 207);
}
