* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* Inicio de estilos del header */
header {
    font-size: 1.6rem;
    width: 100%;
    /*
    height: auto;
    max-height: 90px;
    */
    height: 50px;
    background-color: #f5ecad;
    z-index: 2;
    border-bottom: 1px solid grey;
}

header ul {
    display: flex;
    list-style: none;
    height: 100%;
}

header ul li {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}
/* Final de estilos del header */

/* Inicio de estilos del contenido */
main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background: linear-gradient(to top, rgb(173, 173, 255), white);
}

main .main-content {
    width: 800px;
    height: 100%;
    padding: 20px 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: rgb(211, 207, 207);
}

main .main-content img {
    margin: 50px 50px;
    width: 500px;
}
/* Final de estilos del contenido */
